:host {
  display: flex;
}

.ast-tree {
  flex: 1;
}

.ast-tree-invisible {
  display: none;
}

.ast-tree ul,
.ast-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.highlight {
  background: yellow;
}

.ast-node-name {
  font-weight: inherit;
}
