.container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 16px;
}

header {
  display: flex;
  align-items: center;
}

.github-logo {
  height: 26px;
  margin: 0 4px 3px 0;
}

.flex-spacer {
  flex: 1;
}

.split-view {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  @media only screen and (min-width: 600px) {
    flex-direction: row;
  }
}

.query-input {
  width: 100%;
  margin-bottom: 8px;
}

.query-input .error-message {
  color: #f44336;
}

.split-view h3 {
  text-align: center;
  margin-bottom: 0;
}

.split-view > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 50%;
  overflow: scroll;

  @media only screen and (min-width: 600px) {
    height: 100%;
  }
}

.scrollable {
  overflow: scroll;
}

.split-view ngx-codemirror {
  flex: 1;
  display: flex;
}

.split-view ::ng-deep .CodeMirror {
  flex: 1;
  height: 100%;
}

.split-view .spacer {
  flex: 0;
  min-width: 12px;
}

.status-bar {
  display: flex;
}
